:root {
    --color-enemy: rgb(194, 164, 164);
    --color-player: rgb(145, 204, 168);
    --color-surface: rgb(149, 118, 118); 

    --fs-med: 1.4rem;
    --fs-lg: 1.6rem;
    --fs-xxl: 2.5rem;

    --ff-title: 'Share Tech Mono', monospace;
    --ff-body: 'Cascadia Code Variable', sans-serif;
}